:root {
  /* Colours */

  --primary-darkest: #12003b;
  --primary-dark: #4e3980;
  --primary: #8544db;
  --primary-light: #b39cd0;

  --secondary-dark: #ce694f;
  --secondary: #ee6d4d;
  --secondary-light: #f5967f;

  --white: #fff;
  --grey-lightest: #f6f6f6;
  --grey-light: #e9e9e9;

  --grey: #a9b3bc;
  --primary-slate-light: #f1f2f4;
  --grey-slate: #434d56;
  --grey-dark: #949494;
  --grey-darkest: #5d5d5d;

  --radius: 5px;
  --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.25);

  --font-heading: "Ubuntu", sans-serif;
  --font-body: "Lato", sans-serif;

  --content-width: 130rem;

  
  

}

$phone: 640px;
  $tablet: 768px;
  $desktop: 1024px;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-body);
  min-height: 100vh;
  padding:0;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem;
}




/* navbar */

.header {
  font-size: 0.6rem;
  background-color: var(--primary-darkest);

  &__content {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline;
    font-family: var(--font-heading);
  }
}

/* Components */

.components {
  display: flex;
  flex-wrap: wrap;
  
}

.component {
  
  background-color: var(--grey-light);
  padding: 3rem;

  &--inputs {
    
    width: 100%;
  }

  &--results {
    background-color: var(--white);
  }

  &--details {
    width: 100%;
    background-color: #e9e9e9;
  }

  &--hidden {

  }

  &__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    color: var(--primary-darkest);
    font-family: var(--font-heading);
  }

&__subHeading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--primary-darkest);
  font-family: var(--font-heading);
}

}

@media (min-width: $tablet)
{

  .components {
    display: flex;
    
  }

  .component {
    padding: 3rem;

    &--inputs {
      flex: 1 30rem;
    }

    &--results {
      flex: 2 50%;
      background-color: var(--white);
    }

    &--details {

      width: 100%;
      background-color: #e9e9e9;
    }

    &--hidden {}
  }

}



/* inputs */

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  
}

.input {
  &__container {
    position: relative;
    margin-bottom: 2rem;
    overflow: auto;
    width: 100%;
  }

  &__box {
    display: block;
    border-radius: var(--radius);
    margin-top: 1rem;
    padding: 1rem 0 1rem 2rem;
    font-size: 1.75rem;
    width: 100%;
    border: none;
    background-color: var(--white);
    color: var(--primary-dark);

    &--frequency {
      display: block;
      border-radius: var(--radius);
      margin-top: 0.5rem;
      padding: 1rem;
      font-size: 1.75rem;
      width: 100%;
      border: none;
      background-color: var(--grey-lightest);
      color: var(--primary-dark);
    }

    &--percentage {
      display: block;
      border-radius: var(--radius);
      margin-top: 0.5rem;
      padding: 1rem 0 1rem 2rem;
      font-size: 1.75rem;
      width: 100%;
      border: none;
      background-color: var(--grey-lightest);
      color: var(--primary-dark);
    }
  }

  &__label {
    font-size: 1.5rem;
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--primary-darkest);
  }

  &__box:focus,
  &__box--frequency:focus,
  &__box:active,
  &__box--contribution:active {
    outline: none;
    box-shadow: var(--shadow-card);
  }

  &__box::placeholder,
  &__box--franking::placeholder {
    color: var(--grey);
    outline: none;
  }
}

.btn {
  display: flex;
  text-align: center;
  background-color: var(--primary);
  font-size: 2rem;
  color: white;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: var(--radius);
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-card);
  font-family: var(--font-body);

  &:hover {
    background-color: var(--secondary);
    transform: translatey(-1px) scale(1.05);
    transition: all linear 0.2s;
  }
}

.taxable-income {
  font-size: 1.5rem;
}

.taxable-income__output {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.total-output {
  font-size: 1.5rem;
}

.outcomes {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.outcome {
  text-align: center;
  vertical-align: center;
  position: relative;
  padding: 1rem;
  margin-top: 2.5rem;

  &--value {
    background-color: var(--ligh);
    flex: 1 100%;
  }

  &--initial {
    flex: 1 10rem;
  }

  &--earnings {
    flex: 1 10rem;
  }

  &--contributions {
    flex: 1 10rem;
  }

  &__title {
    font-weight: 700;
    padding: 0.2rem;
    color: var(--primary);
    font-size: 1.75rem;

    &--value {
      font-weight: 700;
      padding: 0.2rem;
      color: var(--primary-darkest);
      font-size: 1.75rem;
    }
  }

  &__text {
    display: block;
    font-weight: 700;
    font-family: var(--font-heading);
    font-size: 3rem;
    padding: 1rem;
    color: var(--primary-darkest);
    margin-bottom: 0.5rem;

    &--value {
      display: block;
      font-weight: 700;
      font-family: var(--font-heading);
      font-size: 3.5rem;
      padding: 1rem;
      color: var(--secondary);
    }
  }

  &__text--positive {
    color: var(--green);
  }

  &__text--negative {
    color: var(--secondary-dark);
  }

  &__chart {
    position: relative;
    margin: auto;
   
    width: 100%;
  }
}


.details {
  width: 100%;
  background-color: #e9e9e9;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 3rem;

  &__head {
    background-color: var(--primary-dark);
    
    color: var(--white);
    font-size: 1.25rem;
    font-family: var(--font-heading);
    font-weight: 300;
    padding: 1.25rem;
    text-align: right;

    &:first-child{
      border-top-left-radius: var(--radius);
    }

    &:last-child {
      border-top-right-radius: var(--radius);
    }
    
  }

  &__item {
    background-color: var(--primary-light);
    border-top: solid 1px var(--primary-dark);
    color: var(--grey-lightest);
    font-size: 1.25rem;
    padding: 1rem;
    text-align: right;
    
  }

}

.assumptions{
  line-height: 2rem;

  &__item{
    font-size: 1.5rem;
    
  }

}




#myChart {
  width: 100% 
}


.footer {
 
  background: var(--primary-darkest);
  height: 100%;
  color: white;

  &__container {
    font-size: 1rem;
    padding-top: 2rem;
  }

  &__header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__item {
    padding: 1rem;
  }

}



/* @media screen and (max-width: 1000px) {
  .main__container {
    flex-wrap: wrap;
  }

  .section {
    flex-basis: 100%;
  }
} */