:root {
  /* Colours */

  --white: #fff;
  --grey-lightest: #f6f6f6;
  --grey-light: #e9e9e9;

  --grey: #a9b3bc;
  --primary-slate-light: #f1f2f4;
  --grey-slate: #434d56;
  --grey-dark: #949494;
  --grey-darkest: #434d56;

  --radius: 5px;
  --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.25);

  --font-heading: 'Roboto', sans-serif;
  --font-body: "Roboto Condensed", sans-serif;

  --content-width: 130rem;

}

$primary: #7a3a4d;

$light:#cf7b95;

$dark:#b96e85;

$secondary: #1c286e;

$tertiary: #328143;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: var(--font-body);
  padding: 0;
}


.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


/* navbar */

.header {
  background-color: $primary;
  padding: 2rem 3rem;

  &__content {
    display: flex;
    align-items: center;

  }

  &__title {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    display: inline;
    font-family: var(--font-heading);
  }

  &__icon {
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
    display: inline;
  }
}


//sections

main {
  min-height: 75vh;
}

.section {
  padding: 3rem 3rem;
  width: 100%;

  &__heading {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: darken($primary, 10%);
    font-family: var(--font-heading);
  }

  &--inputs {
    background-color: var(--grey-light);
  }

  &--results {
    height: 100%;
    background-color: white;
  }

  &__subHeading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--primary-darkest);
    font-family: var(--font-heading);
  }
}


//Input Section

.inputs {
  position: relative;
  height: 40rem;
  min-width: 30rem;
}

.input {

  &__container {
    position: relative;
    margin-bottom: 1.75rem;
    overflow: auto;
    width: 100%;

    &:focus-within {
      color: $primary;
    }
  }

  &__label {
    font-size: 1.4rem;
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--primary-darkest);
    ;
  }

  &__box {
    color: lighten($primary, 20%);
    background-color: white;
    border: solid 1px white;
    display: block;
    border-radius: var(--radius);
    margin-top: .5rem;
    padding: 1.25rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-body);
    width: 100%;
    outline: none;
    //  -webkit-appearance: none;
     

    &:active,
    &:focus {
      outline: none;
      border: solid 1px $primary;
    }
  }
}

.input__select {
cursor: pointer;;
display: flex;
align-items: center;
position: relative;

i {
  color: $primary;
  position: absolute;
  top: 2px;
  left: 330px;
  font-size: 3rem;
  
}


}

.btn {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem 0;
  border-radius: var(--radius);
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-card);
  background-color: $primary;
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 500;
  color: white;

  &:hover {
    background-color: lighten($primary, 20%);
    transition: all linear 0.2s;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }
}


//Outcome Section

.outcomes {
  max-height: 0;
  overflow: hidden;
  transition: all 2s ease-out;
  position: relative;
  margin: 0 auto;
  
  

  &.open {
    max-height: 200rem;
  }

  &__container {
    margin: 0 auto;
    // width: 40rem;
    // border: solid 1px red;
  }

}

.outcome {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .1px lighten($primary, 40%);
  margin-bottom: 2rem;
  padding-bottom: .25rem;


  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-darkest);

    &--total {
      @extend .outcome__title;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  &__value {
    font-size: 1.8rem;
    padding-left: 1rem;
    font-family: var(--font-body);
    color: lighten($primary, 20%);

    &--total {
      @extend .outcome__value;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }

}



.chart-container {
  
  padding: 3rem 0;
  position: relative;
  margin: auto;
  width: 100%;
}

.table {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
  border-radius: var(--radius);
  margin-bottom: 3rem;

  &__head {
    background-color: $primary;
    color: var(--white);
    font-size: 1.4rem;
    font-family: var(--font-heading);
    font-weight: 500;
    padding: .5rem 1rem .5rem 0;
    text-align: right;

    &:first-child {
      border-top-left-radius: var(--radius);
    }

    &:last-child {
      border-top-right-radius: var(--radius);
    }

  }

  &__item {
    font-family: var(--font-body);
    border-bottom: solid 1px $primary;
    color: $primary;
    font-size: 1.5rem;
    padding: .5rem 1rem .5rem 0;
    text-align: right;

    &:last-child {
      font-weight: 700;
    }
  }

}

.assumptions {
  line-height: 1.75rem;

  &__item {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}


//Footer Section

.footer {
  
  padding: 2rem 2rem;
  background: $primary;
  
&__container {
  
}

&__links {
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

&__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: var(--font-heading);
      color: lighten($primary, 40%);
      margin-bottom: 1rem;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        font-size: 1.5rem;
        margin-bottom: .5rem;

        a {
          font-family: var(--font-heading);
          text-decoration: none;
          color: white;
          transition: all .2s linear;

          &:hover {
            color: lighten($primary, 40%);
            
            text-decoration: underline;
          }
        }
      }
    }
  }
}




.copyright {
  color: #ffffff;
  border-top: solid .1px lighten($primary, 20%);
  font-size: 1.25rem;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}


// Screens > Phone Size

@media only screen and (min-width: $tablet) {

  .header {
    padding-left: 2rem;
  }

  .main {
    display: flex;
    height: 100%;
    
  }

  .section {
   padding: 3rem;

    &--inputs {
      background-color: var(--grey-light);
      flex: 1 35rem;
      max-width: 80rem;
      padding-left: 2rem;
      padding-right: 2rem;

    }

    &--results {
      // margin: 0 auto;
      height: 100%;
      background-color: white;
      flex: 3 70rem;
      padding-left: 5rem;
      padding-right: 10rem;

    //  margin-right: 30rem;
      
      
    }

    &__subHeading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      color: var(--primary-darkest);
      font-family: var(--font-heading);
    }
  }

.footer {
  padding: 2rem 10rem;
}



}