:root {
  /* Colours */

  --white: #fff;
  --grey-lightest: #f6f6f6;
  --grey-light: #e9e9e9;

  --grey: #a9b3bc;
  --primary-slate-light: #f1f2f4;
  --grey-slate: #434d56;
  --grey-dark: #949494;
  --grey-darkest: #434d56;

  --radius: 5px;
  --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.25);

  --font-heading: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;

  --content-width: 130rem;

}

$primary: #224970;

$light: #4186cc;

$vlight: #93c8fc;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: var(--font-body);
  padding: 0;
}


.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


/* navbar */

.header {
  background-color: $primary;

  padding: 2rem 3rem;

  &__content {
    display: flex;
    align-items: center;

  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    display: inline;
    font-family: var(--font-heading);
  }

  &__icon {
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
    display: inline;
  }
}


//sections

main {
  min-height: 100vh;
 
}

.section {
  padding: 4rem 6rem;
  width: 100%;

  &__heading {
    font-size: 2.5rem;
    
    font-weight: 400;
    margin-bottom: 3rem;
    color: darken($primary, 10%);
    font-family: var(--font-heading);
  }

  &--inputs {
    background-color: var(--grey-light);
  }

  &--results {
    height: 100%;
    background-color: white;
  }

  &__subHeading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--primary-dark);
    font-family: var(--font-heading);
  }
}


//Input Section

.inputs {
  position: relative;
  height: 40rem;
  min-width: 30rem;
}

.input {

  &__container {
    position: relative;
    margin-bottom: 1.75rem;
    overflow: auto;
    width: 100%;

    &:focus-within {
      color: $primary;
    }
  }

  &__label {
    font-size: 1.4rem;
    font-family: var(--font-body);
    font-weight: 500;
    color: #2f2f30;
  }

  &__box {
    color: $primary;
    background-color: white;
    border: solid 1px white;
    display: block;
    border-radius: var(--radius);
    margin-top: .5rem;
    padding: 1.25rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-body);
    width: 100%;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    // appearance: none;
     
    &--select{
@extend .input__box;
background: #ffffff url(/down-arrow.png) no-repeat 98% 50%;


    }

    &:active,
    &:focus {
      outline: none;
      border: solid 1px $primary;
    }
  }
}

.input__select {
 
cursor: pointer;
display: flex;
align-items: center;
position: relative;
-moz-appearance: none;
    -webkit-appearance: none;
//     appearance: none;
   

  i {
    color: $primary;
    position: absolute;
    top: 2px;
    left: 330px;
    font-size: 3rem;
    
  }
}

.btn {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem 0;
  border-radius: var(--radius);
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-card);
  background-color: $primary;
  font-family: var(--font-body);
  font-size: 2.2rem;
  font-weight: 400;
  color: white;

  &:hover {
    background-color: lighten($primary, 20%);
    transition: all linear 0.2s;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }
}


//Outcome Section

.outcomes {
  max-height: 0;
  overflow: hidden;
  transition: all 2s ease-out;
  position: relative;
  margin: 0 auto;
  max-width: 80rem;
  
  &.open {
    max-height: 200rem;
  }

  &__container {
    margin: 0 auto;
  }

}

.outcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .1px var(--grey);
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  

  &__title {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--grey-darkest);

    &--total {
      @extend .outcome__title;
      color: $light;
      font-size: 2.25rem;
      font-weight: 500;
    }
  }

  &__value {
    font-size: 2rem;
    padding-left: 1rem;
    font-family: var(--font-body);
    color: var(--grey-darkest);

    &--total {
      color: $light;
      @extend .outcome__value;
      font-weight: 500;
      font-size: 2.25rem;
    }
  }

  &__chart {
    
  }

}

.chart-container {
 
  padding: 3rem 0;
  position: relative;
  margin: auto;
  width: 100%;
}

.table {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
  
  
  margin-bottom: 3rem;

  &__head {
    background-color: $primary;
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--font-heading);
    font-weight: 500;
    padding: 1rem;
    text-align: center;
  }

  &__item {
    font-family: var(--font-body);
    border-bottom: solid 2px var(--grey-light);
    color: var(--grey-slate);
    font-size: 1.3rem;
    padding: 1rem;
    margin-right: 1.5rem;
    
    text-align: right;
    

    &:first-child {
      text-align: center;
      font-weight: 700;
    }

    &:last-child {
      font-weight: 700;
    }
  }

}

.assumptions {
  line-height: 1.4;
  max-width: 80rem;
  width: 100%;
 
  margin: 0 auto;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--primary-dark);
    font-family: var(--font-heading);
  }


  &__item {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }
}


//Footer Section

.footer {
  padding: 3rem 6rem;
  background: var(--grey-slate);
  
&__container {
  
}

&__links {
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

&__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  
  width: 100%;

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: var(--font-heading);
      color: lighten($primary, 40%);
      margin-bottom: 1rem;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
     

      li {
        font-size: 1.25rem;
        padding-right: 4rem;

        a {
          font-family: var(--font-heading);
          text-decoration: none;
          color: white;
          transition: all .2s linear;

          &:hover {
            color: lighten($primary, 40%);
            
            text-decoration: underline;
          }
        }
      }
    }
  }
}




.copyright {
  color: #ffffff;
  border-top: solid .1px var(--grey-dark);
  font-size: 1.25rem;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}


// Screens > Phone Size

@media only screen and (min-width: $tablet) {

  .header {
    padding-left: 2rem;
  }

  .main {
    display: flex;
    height: 100%;
    
  }

  .section {
   padding: 3rem;

    &--inputs {
      background-color: var(--grey-light);
      flex: 1 35rem;
      max-width: 80rem;
      padding-left: 2rem;
      padding-right: 2rem;

    }

    &--results {
      // margin: 0 auto;
      height: 100%;
      background-color: white;
      flex: 3 70rem;
      padding: 3rem 5rem;
    //  margin-right: 30rem;
      
      
    }

    &__subHeading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      color: var(--primary-darkest);
      font-family: var(--font-heading);
    }
  }

.footer {
  padding: 2rem 10rem;
}



}